<!DOCTYPE html>

<html>

   <head>
      <title>Request Header Parser</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>Request Header Parser Microservice</h1>

        <h2>Example Usage:</h2>
        <p>
          <a href="api/whoami">https://headerparser-4lu3.onrender.com/api/whoami</a>
        </p>

        <h2>Example Output:</h2>
        <p>
          <br>{"ipaddress":"::ffff:192.168.44.9","language":"zh-CN,zh;q=0.9,en;q=0.8",</br>"software":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/127.0.0.0 Safari/537.36"}</code>
        </p>
      </div>
      <div class="footer">
        <p>
          By <a href="https://imyuanhui.github.io/">Yuanhui</a>
        </p>
      </div>
   </body>


</html>
